* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7f9fc;
}

ul li {
  list-style: none;
}

button {
  outline: none;
  background: transparent;
  border: none;
  outline: none;
}
